name: deploy

#on:
#  push:
#    tags:
#      - 'v*'
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            whoami
            cd /usr/secretic
            git reset --hard HEAD
            git clean -f -d
            git pull origin main
            git show --summary
#            composer -V
#            composer install
